
/* Regular font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Heading Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

#logo{
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5rem;
}
.quote{
  /* padding-top: 200px; */
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}
.heading{
  /* font-family: 'Caveat', cursive; */
  font-size: 4rem;
  /* margin:100px 0; */
  margin-bottom: 10px;
  font-weight: bold;
}

/* fontSize="4xl" fontWeight="bold" mt={10} mb={5} */

#Social-buttons{
  justify-content: space-evenly;
}

#Social-buttons  button{
  background-color: transparent;
  border: 1px solid black;
  padding: 0 20px;
}

#Social-buttons button:hover,
#signin{
  background-color: black;
  color: white;

}

.primary-button{
  background-color: black;
  color: white;
  border-radius: 0px;
  width: 150px;
  /* padding: 10px 30px; */
}

.blog-img{
  width: 100%;
  height: 300px;
  object-fit: cover;  
}

.like{
  background-color: rgba(128, 128, 128, 0.158);
  padding: 0px 50px
}

.like div{
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 5px 10px ;
  cursor: pointer;
  font-size: 1rem;
}

.like svg{
  width: 25px;
  height: 25px;
  color: grey;
}
.writer {
  align-items: center;
  gap: 10px;
}
.writer img{
  width: 30px;
  height: 30px;
}