.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.884);
}

.sidebar>div:nth-child(2){
    height: 75vh;
}
.sidebar>div:nth-child(2) svg{
    width:  20px;
    height: 20px;
}

.sidebar>div:nth-child(3) img{
    width:  35px;
    height: 35px;
    display: block;
    margin: auto;
}

.sidebar > div {
    gap: 30px;
    justify-content: center;
    align-items: center;
    border: 1x solid red;
}

.active{
    border: 1px solid rgba(32, 32, 32, 0.61);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    border-radius: 50%;

}

.inactive{
    padding: 10px;
}

.sidebar>div:nth-child(3) > div > div{
    /* display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-left: 0; */
    z-index: 1000000000000000000000000000;

}